body{
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}

.navigation{
    display: block;
    text-align: left;
    width: 80vw;
    margin: auto;
}
.non-bullet-list{
    list-style: none;
}
.inline-list{
    display: inline-block;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    font-size: x-large;    
}
.non-bullet-list .inline-list a{
    text-decoration: none;
}
 h1{
    display: block;
    text-align: left;
    margin-left: 2rem;
    color: #6441b0;
 }
 label{
    display: inline-block;
    text-align: center;
    margin-top: -0.5rem;
    margin-left: 3rem;
    font-size: x-large;
 }

 .user-input{
    padding: 0.5rem;
    font-size: large;
 }
 #areabtn{
    width: 110px;
    height: 30px;
    margin-left: 25px;
    font-size: 15px;
 }
 #area-output{
    display: inline-block;
    width: 700px;
    height: 50px;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: xx-large;
    border: 2px solid black;
}

.angle{
    padding: 0.5rem;
    font-size: large;
}
#trianglebtn{
    width: 110px;
    height: 30px;
    margin-left: 25px;
    font-size: 17px;
}
#output{
    display: block;
    width: 700px;
    height: 90px;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: xx-large;
    border: 2px solid black;
}

.input-text{
    padding: 0.5rem;
    font-size: large;
}
#hypotenusbtn{
    width: 110px;
    height: 30px;
    margin-left: 25px;
    font-size: 17px;
}
#output-text{
    display: block;
    width: 600px;
    height: 60px;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: xx-large;
    border: 2px solid black;
}

.question p{
    font-size: x-large;
}
#submit-answer{
    width: 110px;
    height: 30px;
    margin-left: 25px;
    margin-top: 1rem;
    font-size: 17px;
    font-weight: bold;
}
#outputText{
    display: block;
    text-align: center;
    width: 600px;
    margin: auto;
    height: 35px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: xx-large;
    border: 2px solid black;
}